#contact-padding {
    padding: 1em;
}

.center>img {
    margin: 1em;
}

a:link {
    color: black;
}

#map>iframe {
    height: 300px;
}

.addresses {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10em;
}

p,
a {
    font-size: large;
}