.rainbow-shadow {
    background: linear-gradient(90deg, #5BCEFA 0%, #F5A9B8 25%, #FFFFFF 50%, #F5A9B8 75%, #5BCEFA 100%);
    padding: .5em;
}

.divider {
    height: 10px;
    /* Height of the divider line */
    background: linear-gradient(90deg, #5BCEFA 0%, #F5A9B8 25%, #FFFFFF 50%, #F5A9B8 75%, #5BCEFA 100%);

    margin: 0;
}

.hero-image {
    height: 100%;
    width: 100%;
    background: url('https://i.imgur.com/pVTob5y.jpeg') no-repeat center center;
    background-size: cover;
    position: absolute;
    /* Position absolute to overlap text */
    top: 0;
    /* Align to the top */
    left: 0;
    /* Align to the left */
    opacity: 0;
    /* Start invisible */
    transition: transform 1s ease-out, opacity 1s ease-out;
    /* Smooth transition */
}

.center {
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 20px; /* Creates space between the elements */
}

p,li {
    font-size:large;
    text-align:justify
}
