h4 {
    text-align: left;
}

.rainbow-shadow {
    background: linear-gradient(90deg, 
        #078D70 0%, 
        #26CEAA 16.66%, 
        #98E8C1 33.33%, 
        #FFFFFF 50%, 
        #7BADE2 66.66%, 
        #5049CC 83.33%, 
        #3D1A78 100%);
    padding: .5em;
}

.divider {
    height: 10px;
    /* Height of the divider line */
    background: linear-gradient(90deg, 
        #078D70 0%, 
        #26CEAA 16.66%, 
        #98E8C1 33.33%, 
        #FFFFFF 50%, 
        #7BADE2 66.66%, 
        #5049CC 83.33%, 
        #3D1A78 100%);
    margin: 0;
}


.hero-image {
    height: 100%;
    width: 100%;
    background: url('https://i.imgur.com/ZMC6WK5.jpeg') no-repeat center center;
    background-size: cover;
    position: absolute;
    /* Position absolute to overlap text */
    top: 0;
    /* Align to the top */
    left: 0;
    /* Align to the left */
    opacity: 0;
    /* Start invisible */
    transition: transform 1s ease-out, opacity 1s ease-out;
    /* Smooth transition */
}

