iframe {
    margin: 1em;
}

p, li {
    font-size: large;
    text-align: left;
}

.v-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 60%;
}